<%- include('header') %>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"> Category Form</h4>
                                    <p class="card-description">
                                        <%= flash.success %>
                                    </p>
                                    <p class="card-description">
                                        <%= flash.error %>
                                    </p>
                                    <form class="forms-sample" action="/brand/insertBrand" method="post">

                                        <select name="categoryId" id="categoryId" onchange="getSubCategory()">
                                            <option value="">--select--</option>
                                            <% for(var ca of categoryData) {%>
                                            <option value="<%= ca.id %>"><%= ca.categoryName %></option>
                                            <% } %>
                                        </select>

                                        <select name="subCategoryId" id="subCategoryId" onchange="getExtraCategory()">
                                            <option value="">--select--</option>
                                        </select>

                                        <select name="extraCategoryId"  id="extraCategoryId">
                                            <option value="">--select--</option>
                                        </select>

                                        

                                        <div class="form-group">
                                            <label for="exampleInputName1">brand</label>
                                            <input type="text" class="form-control" name='brandName' id="exampleInputName1"
                                                placeholder="brand">
                                        </div>
                                        <input type="submit" class="btn btn-primary mr-2" name="submit" id="">

                                    </form>
                                </div>
                            </div>
                        </div>
       <!-- content-wrapper ends -->
                        <!-- partial:../../partials/_footer.html --
            <!-- End custom js for this page-->
</body>

</html>
<%- include('footer')%>